
html {
  scroll-behavior: smooth;
  height: 375%;
}

body {
  width: 100%;
  max-width: 380px;
  margin: auto;
  display: block;
}

.homepage-amber {
  background-image: url(../img/background/homepage.svg);
}

.fifties-page {
  background-image: url(../img/background/fifties.svg);
}

.sixties-page {
  background-image: url(../img/background/sixties.svg);
}

.seventies-page {
  background-image: url(../img/background/seventies.svg);
}