@font-face {
  font-family: 'Gt';
  src: url('../../../Desktop/eikon/fonts/vintage/GtWalsheim/GTWalsheimPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gt';
  src: url('../../../Desktop/eikon/fonts/vintage/GtWalsheim/GTWalsheimPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 375px;
  display: block;
  text-align: center;
  margin: auto;
}

.fifties-page {
  background-color: #e6cb99;
}

.sixties-page {
  background-color: #f7c346;
}

.seventies-page {
  background-color: #eedec9;
}

.product-fifties {
  background-image: url(../img/background/background_fifties.svg);
}

.product-sixties {
  background-image: url(../img/background/background_sixties.svg);
}

.product-seventies {
  background-image: url(../img/background/background_seventies.svg);
}

.homepage img,
.top-info img{
  height: 45px;
}

header .homepage,
.top-info {
  display: flex;
  padding-top: 10px; 
}

header .logo,
.top-info .logo {
  justify-content: flex-start;
  margin-left: 10px;
  padding-top: 10px;
}

header .music-button,
.top-info .music-button {
  padding-left: 215px;
}

main .button {
  height: 90px;
}

header .slogan-homepage {
  align-content: center;
  height: 273%;
  margin-top: 40px;
}

header p {
  font-weight: 500;
  font-family: 'Gt';
  font-size: 18px;
  margin: 0 10px 40px;
  padding: 0 10px 20px;
  text-align: justify;
}

main .product-button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
}

main .number-product {
  height: 90px;
}

main .character {
  height: 145px;
}

main .fifties-button .character {
  margin-left: 30px;
}

main .fifties-button .number-product{
  margin-left: 25px;
}

main .sixties-button .number-product{
  order: 1;
  margin-right: 45px;
}

main .sixties-button .character {
  margin-right: 25px;
}

main .seventies-button .character {
  margin-left: 20px;
}

main .seventies-button .number-product{
  margin-left: 25px;
}

main .fifties-button {
  border: 1px solid #e87c66;
}

main .sixties-button {
  border: 1px solid #ba4927;
}

main .seventies-button {
  border: 1px solid #323c40;
  margin-bottom: 50px;
}

main h1 {
  font-weight: 700;
  font-family: 'Gt';
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.92);
  background-color: white;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  margin: 5px;
  padding: 10px 20px;
  border-radius: 35px;
}

main .background {
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  margin: 0 10px ;
  padding: 1px;
  border-radius: 40px;
}

.background-homepage {
  border: 1px solid black;
}

main a p {
  font-weight: 700;
  font-family: 'Gt';
  font-size: 38px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  margin: 15px 10px 10px;
  padding: 15px;
  border-radius: 30px;
  color: black;
 }

 main .first-source {
   margin-top: 30px;
 }

footer h2{
  font-weight: 700;
  font-family: 'Gt';
  font-size: 38px;
  text-align: left;
  padding: 30px 0 0 30px;
  margin-bottom: 15px;
}

.slogan {
  margin: 20px 0 50px;
}

.showcase-product {
  border-radius: 40px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
}

.showcase-fifties {
  background-color: #5a5f82;
}

.showcase-sixties {
  background-color: #7e5371;
}

.showcase-seventies {
  background-color: #48565e;
}

main .box {
  height: 500px;
  padding: 20px 20px 40px 5px;
}

.explication-product p {
  font-weight: 500;
  font-family: 'Gt';
  font-size: 26px;
  text-align: justify;
  padding: 20px 25px 30px;
  margin: 50px 10px 55px;
  border-radius: 30px;
}

.explication-product {
  color: #eedec9;
}

.sell-product h3 {
  font-weight: 700;
  font-family: 'Gt';
  font-size: 45px;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  border-radius: 30px;
  margin: 1px 4px ;
  padding: 10px;
  color: #eedec9;
}

.sell-fifties h3,
.fifties-more-info,
.explication-fifties p,
.scroll-top-fifties {
  background-color: #3b405a;
} 

.sell-sixties h3,
.sixties-more-info,
.explication-sixties p,
.scroll-top-sixties {
  background-color: #6d4860;
} 

.sell-seventies h3,
.seventies-more-info,
.explication-seventies p,
.scroll-top-seventies {
  background-color: #313c40;
} 

.background-fifties {
  border: 1px solid #3b405a;
}

.background-sixties {
  border: 1px solid #6d4860;
}

.background-seventies {
  border: 1px solid #313c40;
}

.background-products {
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  margin: 0 10px ;
  padding: 5px;
  border-radius: 35px;
}

.more-info {
  margin-top: 20px;
  color: #eedec9;
  padding: 10px;
  border-radius: 35px;
  font-weight: 700;
  font-family: 'Gt';
  font-size: 37px;
  margin: 25px 10px;
  padding: 15px;
  -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
  box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.12);
}


footer .contact-fifties {
  background-image: url(../img/footer/box_footer_fifties.svg);
}

footer .contact-sixties {
  background-image: url(../img/footer/box_footer_sixties.svg);
}

footer .contact-seventies {
  background-image: url(../img/footer/box_footer_seventies.svg);
}

footer .homepage {
  background-image: url(../img/footer/box_footer.svg);
}

.contact {
  height: 214px;
  margin-top: 60px;
}

.contact h2 {
  color: #efe4da;
}

.homepage h2 {
  color: black;
}

.scroll-top-button {
  display: block;
  width: 50px;
  height: 50px;
  color: #efe4da;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  box-shadow: 0 0 10px #33333355;
  left: 50%;
  margin: 60px 15px 0 0;
}

a p {
  font-weight: 500;
  font-family: 'Gt';
  font-size: 20px;
  text-shadow: 5px 7px 18px -3px rgba(0,0,0,0.2);
  color: #efe4da;
  text-align: justify;
  padding-left: 30px;
  margin: 6px 0;
}

.contact-homepage p{ 
  color: black;
}

a  {
  text-decoration: none;
}

.contact-scroll-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

